
<section class="bg-gray-100 min-h-screen">
  <div class="max-w-7xl mx-auto px-6 py-6 grid grid-cols-12 gap-6">

    <!-- Left Sidebar -->
    <div class="col-span-3">
      <app-left-sidebar></app-left-sidebar>
    </div>
  
    <!-- Feed -->
    <div class="col-span-6 flex flex-col gap-6">
      <app-create-post></app-create-post>

  
      <app-single-post></app-single-post>

  
    </div>
  
    <!-- Right Sidebar -->
    <div class="col-span-3">
      <app-right-sidebar></app-right-sidebar>
    </div>
  
  </div>
</section>

